@page "/"


@using MyFirstApi.Client
@inject ProductsClient ProductsClient

@if (products is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="@product.UrlPhoto" class="card-img-top" alt="Imagen de @product">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {

    private ICollection<ProductDto> products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductsClient.GetProductsAsync();
    }
}